/*
wood brown: A89F68;
army green: 41521F;
*/
* {
    margin: 0;
    padding: 0;
    font-family:'Lato', sans-serif;
}

.seccion_bienvenida {
    background-image: url("../img/portada.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#koala_header {
    padding-top: 230px;
    color: white;
}

#koala_header h1 {
    font-weight: bold;
}
#koala_header p {
    font-size: 15px;
}

.btn-default {
    background-color: #41521F;
    color: white;
    border: none;
    padding: 10px 20px;
}

.btn-default:hover {
    background-color: #41521F;
    color: white;
    border: none;
    padding: 10px 20px;
    opacity: 0.7;
}

nav {
    padding-top: 1em;
    text-shadow: 0 0 1em #000;
}

nav, nav div, nav ul li a {
    color: white;
}

nav div {
    font-size: 1.5em;
    cursor: pointer;
}

nav ul li a {
    font-weight: bold;
    font-size: 1.2em;
    color: white;
}

#contenedor-menu-responsive {
    display: none;
}

#contenedor-menu-responsive ul, #contenedor-menu-responsive ul li, #contenedor-menu-responsive ul li a {
    text-align: center;
    width: 100%;
}

#barra {
    border: 1px solid #aaa;
    padding: 0.1em 0.4em;
    border-radius: 0.2em;
    cursor: pointer;
}

#imagen_sec_2 {
    width: 100%;
}

/* SECCION SEGUNDA */
.info {
    margin-top: 13em;
}

#seccion_segunda {
    padding-bottom: 90px;
}

/*SECCION TERCERA */
.seccion_tercera {
    background-color: #A89F68;
    padding: 5em 0;
}

.cosita_column {
    margin-top: 80px;
}
.column_koala h3 {
    color: #A89F68;
}

.column_koala p a {
    color: #A89F68;
}

.seccion_tercera h1 {
    font-weight: bold;
    color: white;
}

.seccion_tercera h2 {
    font-weight: bold;
    color: #415235;
    font-size: 1.5em;
}

.seccion_tercera p {
    color: white;
    font-size: 1.1em;
}

#cosita {
    width: 100%;
    border: 10px solid white;
    margin-right: 50px;
}

/*SECCION CUARTA */
.seccion_cuarta {
    background-image: url("../img/all.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding-top: 80px;
}

.no_tre {
    font-weight: bold;
    color: white;
}

/*SECCION QUINTA*/

.seccion_quinta {
    text-align: center;
    padding: 5em 0;
}

.icons, i.fa.icons {
    color: #A89F68;
    font-size: 4em;
    padding: 20px;
}

/*SECCION SEXTA */

section.seccion_seis {
    background-color: #A89F68;
    text-align: center;
    padding: 5em 0;
}

section.seccion_seis h1.h_dos {
    color: #41521F;
}

section.seccion_seis ul {
    list-style-type: none;
}

section.seccion_seis ul li {
    border-bottom: 1px solid white;
    padding: 1em;
}

section.seccion_seis ul :last-child {
    border-bottom: 0;
}

section.seccion_seis .price {
    color: #fff;
    font-size: 4em;
    position: relative;
}

span.price_sign {
    position: absolute;
    top: 1em;
    left: 30%;
}
span.price_sign, span.price_type {
    font-size: 0.3em;
}

/* FOOTER */
footer {
    background-color: #41521F;
    padding: 5em;
}

footer h1, footer ul li, footer a {
    color: #A89F68;
}

footer p {
    color: #fff;
}

footer ul {
    margin-top: 20px;
}

footer ul li {
    list-style: none;
}

/* COMMONS(reutilizables) */
#hs_tamano {
    font-size: 0.9em;
}

.h_dos {
    font-size: 2em;
    font-weight: bold;
    color: #A89F68;
}
